.sf-modal{
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow-y: auto;
    background: rgba(0,0,0, 0.8);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: fade 0.35s ease-out;
    animation: fade 0.35s ease-out;
}
.sf-modal.active{
    display: block;
}

.circle-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto -35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.sf-modal-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.sf-modal-content{
    position: relative;
    display: none;
    max-width: 500px;
    min-width: 300px;
    margin: 50px auto;
}

.sf-modal.active .sf-modal-content {
    display: block;

    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: spaceInUp;
    animation-name: spaceInUp;
}

@media (max-width: 480px) {
    .sf-modal-content{
        min-width: 300px;
        width: 100%;
        padding: 0 20px;
    }
    .sf-modal .sf-modal-closer{
        right: 30px;
    }
}

.sf-modal-closer{
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}
.sf-modal-closer:hover{
    opacity: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}


form.aero-form{
    display: block;
    position: relative;
    padding: 25px 15px;
    border-radius: 20px;
    max-width: 400px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
form.aero-form.small-width {
   max-width: 400px;
}
form.aero-form.transparent{
    background: rgba(255,255,255, 0.5);
}
form.aero-form.form-shadow{
    box-shadow: rgba(68,96,241, 0.1) 0 15px 30px 5px;

}

form.aero-form.white{
    background: rgb(255 255 255);
	    border: 1px solid #000; /* Add a border (2px width, gray color) */

}

form.aero-form input[type=text],
form.aero-form input[type=password],
form.aero-form input[type=email],
form.aero-form input[type=date],
form.aero-form input[type=number],
form.aero-form input[type=text],
form.aero-form select,
form.aero-form textarea{
    display: block;
    width: 100%;
    border: 0;
    background-color: #f3f3f3;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    padding: 0 20px;
    margin: 0 0 5px;
	
	/*font-family: 'Tajawal', sans-serif; /* Apply Almarai-Bold */
	

}
form.aero-form textarea{
    padding: 20px;
    height: auto;
    min-height: 120px;
    resize: none;
}

form.aero-form input:focus,
form.aero-form select:focus,
form.aero-form textarea:focus{
    outline: none;
    background-color: #ffffff;
    box-shadow: rgba(68,96,241, 0.2) 0 5px 30px 0;
}

form.aero-form label{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}

.aero-form-header {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    padding: 0 20px;
    font-size: 14px;
    position: relative;
    z-index: 0; /* Lower z-index to position it behind circle-image */
}

#bio {
    color: #444444; /* Set text color to a green shade */
    font-size: 13px; /* Set font size to 16 pixels */
}


.aero-form-header h2{
    margin-bottom: 10px!important;
}

.aero-form-submit{
    margin-top: 20px;
}

.aer-line{
    display: block;
    margin: 30px 0 20px 0;
    text-align: center;
    color: #888888;
    font-size: 12px;
    line-height: 1;
    position: relative;
}
.aer-line:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left:0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0, 0.15);
}
.aer-line > span {
    position: relative;
    z-index: 3;
    display: inline-block;
    padding: 2px 10px;
    background-color: #ffffff;
}

.aero-social-login-links{
    justify-content: space-between;
}
.aero-social-login-links > div{
    flex: 1;
}

a.social-btn{
    display: block;
    text-align: center;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #DBE1E7;
}
a.social-btn:hover{
    border-color: transparent;
    box-shadow: rgba(68,96,241, 0.15) 0 8px 25px 5px;
}

a.social-btn img{
    display: inline-block;
    max-height: 30px;
}

.aero-password-label{
    position: relative;
}
.aero-password-trigger{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 50px;
    border: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    opacity: 0.7;
}
.aero-password-trigger > *{
    pointer-events: none;
}
.aero-password-trigger.active,
.aero-password-trigger:hover{
    opacity: 1;
}

.aero-password-trigger svg,
.aero-password-trigger svg path{
    transition: all 0.2s ease-out;
}

.aero-password-trigger > svg:first-child{
    display: inline-block;
}
.aero-password-trigger > svg:last-child{
    display: none;
}

.aero-password-trigger.active > svg:first-child{
    display: none;
}
.aero-password-trigger.active > svg:last-child{
    display: inline-block;
}

.aero-recover-password{
    display: block;
    text-align: right;
    font-size: 12px;
    color: #888888;
    line-height: 1;
}

.form-message{
    display: none;
    position: relative;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    color: #ffffff;
    background-color: #4460F1;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: rgba(68,96,241, 0.15) 0 8px 25px 5px;
}
.form-message.success{
    background-color: #82B440;
}
.form-message.active{
    display: block;
}

.flex{
    display: flex;
}
.flex.middle{
    align-items: center;
}
.flex .container{
    width: 100%;
}
.flex.half > div{
    width: 50%;
}
.flex.spacing {
    margin-left: -8px;
    margin-right: -8px;
}
.flex.spacing > div{
    padding-left: 8px;
    padding-right: 8px;
}

.flex.reverse{
    flex-direction: row-reverse;
}

.text-center{
    text-align: center;
}

.full-width{
    width: 100%;
    max-width: 100%;
}

.hide{
    display: none;
}


.tap{
    position: relative;
    display: inline-block;
    padding: 0 20px;
    margin: 0 auto;
    text-decoration: none;
    border: 0;
    border-radius: 30px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: #4460F1;
    min-width: 200px;
    max-width: 400px;
    text-align: center;
    font-size: 15px;
    line-height: 48px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    opacity: 1;
    overflow: hidden;
}
.tap:hover{
    background: #3BD7A7;
    color: #ffffff;
    text-decoration: none;
}

.tap:active{
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    transform: scale(0.97);
}

.tap svg{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px
}

#docs_tab .preview {
    border: 2px dashed rgba(0,0,0, 0.12);
    padding: 50px 0;
    margin-top: 15px;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spaceInUp {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale(0.2) translate(0%, -200%);
        transform: scale(0.2) translate(0%, -200%);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale(1) translate(0%, 0%);
        transform: scale(1) translate(0%, 0%); }
}

@keyframes spaceInUp {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale(0.2) translate(0%, -200%);
        transform: scale(0.2) translate(0%, -200%);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale(1) translate(0%, 0%);
        transform: scale(1) translate(0%, 0%);
    }
}



.c-Count {
    display: flex;
	font-family: 'Almarai', sans-serif;
    font-size: 14px;
	color: #000000;
    align-items: center;
    justify-content: center;
}

 /*footer code*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI';
  font-weight: 400;
  background-color: #ededed;
}
.footer {
  padding: 40px 0;
  background-color: #ffffff;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

 /*end*/
 
	
.bee-row,
		.bee-row-content {
			position: relative
		}

		.bee-row-1 .bee-row-content,
		.bee-row-2,
		.bee-row-2 .bee-row-content {
			background-color: #ffffff;
			background-repeat: no-repeat
		}

		.bee-row-1,
		.bee-row-1 .bee-row-content,
		.bee-row-2,
		.bee-row-2 .bee-row-content {
			background-repeat: no-repeat
		}

		body {
			background-color: #cbdee9;
			color: #000;
			font-family: Arial, Helvetica Neue, Helvetica, sans-serif
		}

		a {
			color: #0068a5
		}

		* {
			box-sizing: border-box
		}

		body {
			margin: 0
		}

		.bee-row-content {
			max-width: 1025px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content .bee-col-w3 {
			flex-basis: 25%
		}

		.bee-row-content .bee-col-w4 {
			flex-basis: 33%
		}

		.bee-row-content .bee-col-w5 {
			flex-basis: 42%
		}

		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-icon .bee-icon-label-right a {
			text-decoration: none
		}

		.bee-divider,
		.bee-image {
			overflow: auto
		}

		.bee-image .bee-center {
			margin: 0 auto
		}

		.bee-icon {
			display: inline-block;
			vertical-align: middle
		}

		.bee-icon .bee-content {
			display: flex;
			align-items: center
		}

		.bee-image img {
			display: block;
			width: 100px;
			height: auto;
		}

		.bee-social .icon img {
			max-height: 32px
		}

		.bee-row-1 {
			background-size: auto
		}

		.bee-row-1 .bee-row-content {
			background-size: auto;
			border-radius: 0;
			color: #f3f3f3
		}

		.bee-row-1 .bee-col-1 {
			padding-bottom: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-1 .bee-col-1 .bee-block-1 {
			padding-top: 10px;
			width: 100%
		}

		.bee-row-1 .bee-col-2 {
			display: flex;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-1 .bee-col-3 {
			padding-bottom: 5px;
			padding-top: 5px;
			display: flex;
			background-color: #f3f3f3;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-1 .bee-col-3 .bee-block-1 {
			padding: 10px;
			text-align: right
		}

		.bee-row-2 .bee-col-1,
		.bee-row-2 .bee-col-1 .bee-block-1 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-2 .bee-row-content {
			color: #000
		}

		.bee-row-2 .bee-col-1 .bee-block-1 {
			color: #1e0e4b;
			font-family: Inter, sans-serif;
			font-size: 15px;
			text-align: center
		}

		@media (max-width:768px) {
			.bee-mobile_hide {
				display: none
			}

			.bee-row-content:not(.no_stack) {
				display: block
			}

			.bee-row-1 .bee-col-1,
			.bee-row-1 .bee-col-1 .bee-block-1 {
				padding: 10px !important
			}

			.bee-row-1 .bee-col-3 .bee-block-1 {
				text-align: center !important
			}

			.bee-row-1 .bee-col-2 .bee-block-1 {
				padding: 0 !important
			}

			.bee-row-1 .bee-col-1 .bee-block-1 img {
				float: none !important;
				margin: 0 auto !important
			}
		}

		.bee-row-2 .bee-col-1 .bee-block-1 .bee-icon-image {
			padding: 5px 6px 5px 5px
		}

		.bee-row-2 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
			margin-left: 0
		}

		.bee-row-2 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}
		
		.colored-icon {
    color: #00a4e5; /* Change the color to the desired color (e.g., blue) */
}

.separator {
    border-top: 1px solid #ccc; /* Add a horizontal line with desired color and thickness */
    margin: 0px 0px; /* Add vertical spacing above and below the separator */
	margin-bottom: 0px;
}

.bee-row,
		.bee-row-content {
			position: relative
		}

		.bee-button .content {
			text-align: center
		}

		.bee-row-1 .bee-row-content,
		.bee-row-2,
		.bee-row-2 .bee-row-content {
			background-color: #fff;
			background-repeat: no-repeat
		}

		.bee-row-1,
		.bee-row-1 .bee-row-content,
		.bee-row-2,
		.bee-row-2 .bee-row-content {
			background-repeat: no-repeat
		}

		body {
			background-color: #cbdee9;
			color: #000;
			font-family: Arial, Helvetica Neue, Helvetica, sans-serif
		}

		a {
			color: #0068a5
		}

		* {
			box-sizing: border-box
		}

		body,
		p {
			margin: 0
		}

		.bee-row-content {
			max-width: 1025px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content .bee-col-w4 {
			flex-basis: 33%
		}

		.bee-row-content .bee-col-w8 {
			flex-basis: 67%
		}

		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-button a,
		.bee-icon .bee-icon-label-right a {
			text-decoration: none
		}

		.bee-divider,
		.bee-image {
			overflow: auto
		}

		.bee-divider .center,
		.bee-image .bee-center {
			margin: 0 auto
		}

		.bee-row-1 .bee-col-1 .bee-block-1 {
			width: 100%
		}

		.bee-icon {
			display: inline-block;
			vertical-align: middle
		}

		.bee-icon .bee-content {
			display: flex;
			align-items: center
		}

		.bee-image img {
			display: block;
			width: 100%
		}

		.bee-text {
			overflow-wrap: anywhere
		}

		.bee-row-1 {
			background-size: auto
		}

		.bee-row-1 .bee-row-content {
			background-size: auto;
			color: #000
			
		}

		.bee-row-1 .bee-col-1,
		.bee-row-1 .bee-col-2 {
			padding-bottom: 10px;
			padding-top: 5px;
			display: flex;
			flex-direction: column;
			background-color: #f3f3f3;
			justify-content: center
		}

		.bee-row-1 .bee-col-2 .bee-block-1,
		.bee-row-1 .bee-col-2 .bee-block-3 {
			padding: 10px
		}

		.bee-row-1 .bee-col-2 .bee-block-2 {
			padding: 10px 60px
		}

		.bee-row-1 .bee-col-2 .bee-block-4 {
			padding: 10px 60px;
			text-align: left
		}

		.bee-row-2 .bee-col-1,
		.bee-row-2 .bee-col-1 .bee-block-1 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-2 .bee-row-content {
			color: #000
		}

		.bee-row-2 .bee-col-1 .bee-block-1 {
			color: #1e0e4b;
			font-family: Inter, sans-serif;
			font-size: 15px;
			text-align: center
		}

		.bee-row-2 .bee-col-1 .bee-block-1 .bee-icon-image {
			padding: 5px 6px 5px 5px
		}

		.bee-row-2 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
			margin-left: 0
		}

		.bee-row-2 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		@media (max-width:768px) {
			.bee-row-content:not(.no_stack) {
				display: block
			}

			.bee-row-1 .bee-col-1 .bee-block-1 {
				padding: 35px !important
			}

			.bee-row-1 .bee-col-1 .bee-block-1 img {
				float: none !important;
				margin: 0 auto !important
			}

			.bee-row-1 .bee-col-2 .bee-block-3 {
				padding: 10px !important
			}

			.bee-row-1 .bee-col-2 .bee-block-4 {
				padding: 10px 35px !important;
				text-align: center !important
			}

			.bee-row-1 .bee-col-2 .bee-block-4 .bee-button-content {
				text-align: center !important
			}
		}
